/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;    
  color: #183a1d; 
}

h1{
  
  font-family: verdana, arial, sans-serif; 
  /* I set the style of the text in the paragraph using html file, 
  so the arial style is not used even though is mentioned here*/
}

button{
  
padding: 15px;
border-radius: 20px;

  
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#startBtn {
  
border-radius: 30px; /* Curve of border corners */
 
text-transform: uppercase; /* Make letters uppercase */
 
color: black; /* Text color */
 
background: #0099cc; /* For browsers that do not support gradients */
 
background: -webkit-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Safari 5.1 to 6.0 */
 
background: -o-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Opera 11.1 to 12.0 */
 
background: -moz-linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* For Firefox 3.6 to 15 */
 
background: linear-gradient(#e5f4f9, #b2e0ef, #7fcce5, #0089b7, #0099CC, #b2e0ef); /* Standard syntax */
 

}

#stopBtn {
border-radius: 30px; /* Curve of border corners */
text-transform: uppercase; /* Make letters uppercase */
color: black; /* Text color */
background: IndianRed; 
}

#start1Btn {
    background: DarkSeaGreen; /* lightgreen in the instructions */
}

#stop1Btn {
    background: Brown; /* lightgreen in the instructions */
}


#Btn1 {
    background: #FFFACD; /* lightgreen in the instructions */
}

#Btn2 {
    background: #FFA07A; /* lightblue */
}

#Btn3 {
    background: LightSkyBlue; /* pink */
}

#Btn4 {
    background: MediumSlateBlue; /* lightyellow */
}

#Btn5 {
    background: MediumBlue;
}

#Btn1:active, #Btn1.lit {
    background:orange;
}

#Btn2:active, #Btn2.lit {
    background:FireBrick;
}

#Btn3:active,  #Btn3.lit {
    background:DodgerBlue;
}

#Btn4:active,  #Btn4.lit {
    background:MediumBlue;
}

#Btn5:active,  #Btn4.lit {
  background: url("https://i.imgflip.com/4zi51y.png");
  background-size: contain;
  background-size: cover;
}
